[
{ "directory": "@", "file": "str/str_chr.c", "output": "str_chr.o", "arguments": [ "clang", "-c", "str/str_chr.c", "-I." ]}, 
{ "directory": "@", "file": "str/str_copy.c", "output": "str_copy.o", "arguments": [ "clang", "-c", "str/str_copy.c", "-I." ]}, 
{ "directory": "@", "file": "str/str_diff.c", "output": "str_diff.o", "arguments": [ "clang", "-c", "str/str_diff.c", "-I." ]}, 
{ "directory": "@", "file": "str/str_diffn.c", "output": "str_diffn.o", "arguments": [ "clang", "-c", "str/str_diffn.c", "-I." ]}, 
{ "directory": "@", "file": "str/str_len.c", "output": "str_len.o", "arguments": [ "clang", "-c", "str/str_len.c", "-I." ]}, 
{ "directory": "@", "file": "str/str_rchr.c", "output": "str_rchr.o", "arguments": [ "clang", "-c", "str/str_rchr.c", "-I." ]}, 
{ "directory": "@", "file": "str/str_start.c", "output": "str_start.o", "arguments": [ "clang", "-c", "str/str_start.c", "-I." ]}, 
{ "directory": "@", "file": "byte/byte_chr.c", "output": "byte_chr.o", "arguments": [ "clang", "-c", "byte/byte_chr.c", "-I." ]}, 
{ "directory": "@", "file": "byte/byte_copy.c", "output": "byte_copy.o", "arguments": [ "clang", "-c", "byte/byte_copy.c", "-I." ]}, 
{ "directory": "@", "file": "byte/byte_copyr.c", "output": "byte_copyr.o", "arguments": [ "clang", "-c", "byte/byte_copyr.c", "-I." ]}, 
{ "directory": "@", "file": "byte/byte_diff.c", "output": "byte_diff.o", "arguments": [ "clang", "-c", "byte/byte_diff.c", "-I." ]}, 
{ "directory": "@", "file": "byte/byte_equal_notimingattack.c", "output": "byte_equal_notimingattack.o", "arguments": [ "clang", "-c", "byte/byte_equal_notimingattack.c", "-I." ]}, 
{ "directory": "@", "file": "byte/byte_rchr.c", "output": "byte_rchr.o", "arguments": [ "clang", "-c", "byte/byte_rchr.c", "-I." ]}, 
{ "directory": "@", "file": "byte/byte_start.c", "output": "byte_start.o", "arguments": [ "clang", "-c", "byte/byte_start.c", "-I." ]}, 
{ "directory": "@", "file": "byte/byte_starts.c", "output": "byte_starts.o", "arguments": [ "clang", "-c", "byte/byte_starts.c", "-I." ]}, 
{ "directory": "@", "file": "byte/byte_zero.c", "output": "byte_zero.o", "arguments": [ "clang", "-c", "byte/byte_zero.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_8long.c", "output": "fmt_8long.o", "arguments": [ "clang", "-c", "fmt/fmt_8long.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_8longlong.c", "output": "fmt_8longlong.o", "arguments": [ "clang", "-c", "fmt/fmt_8longlong.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_asn1derlength.c", "output": "fmt_asn1derlength.o", "arguments": [ "clang", "-c", "fmt/fmt_asn1derlength.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_asn1dertag.c", "output": "fmt_asn1dertag.o", "arguments": [ "clang", "-c", "fmt/fmt_asn1dertag.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_double.c", "output": "fmt_double.o", "arguments": [ "clang", "-c", "fmt/fmt_double.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_escapecharc.c", "output": "fmt_escapecharc.o", "arguments": [ "clang", "-c", "fmt/fmt_escapecharc.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_escapecharhtml.c", "output": "fmt_escapecharhtml.o", "arguments": [ "clang", "-c", "fmt/fmt_escapecharhtml.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_escapecharjson.c", "output": "fmt_escapecharjson.o", "arguments": [ "clang", "-c", "fmt/fmt_escapecharjson.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_escapecharquotedprintable.c", "output": "fmt_escapecharquotedprintable.o", "arguments": [ "clang", "-c", "fmt/fmt_escapecharquotedprintable.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_escapecharquotedprintableutf8.c", "output": "fmt_escapecharquotedprintableutf8.o", "arguments": [ "clang", "-c", "fmt/fmt_escapecharquotedprintableutf8.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_escapecharxml.c", "output": "fmt_escapecharxml.o", "arguments": [ "clang", "-c", "fmt/fmt_escapecharxml.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_fill.c", "output": "fmt_fill.o", "arguments": [ "clang", "-c", "fmt/fmt_fill.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_httpdate.c", "output": "fmt_httpdate.o", "arguments": [ "clang", "-c", "fmt/fmt_httpdate.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_human.c", "output": "fmt_human.o", "arguments": [ "clang", "-c", "fmt/fmt_human.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_humank.c", "output": "fmt_humank.o", "arguments": [ "clang", "-c", "fmt/fmt_humank.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_iso8601.c", "output": "fmt_iso8601.o", "arguments": [ "clang", "-c", "fmt/fmt_iso8601.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_long.c", "output": "fmt_long.o", "arguments": [ "clang", "-c", "fmt/fmt_long.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_longlong.c", "output": "fmt_longlong.o", "arguments": [ "clang", "-c", "fmt/fmt_longlong.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_minus.c", "output": "fmt_minus.o", "arguments": [ "clang", "-c", "fmt/fmt_minus.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_netstring.c", "output": "fmt_netstring.o", "arguments": [ "clang", "-c", "fmt/fmt_netstring.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_pad.c", "output": "fmt_pad.o", "arguments": [ "clang", "-c", "fmt/fmt_pad.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_pb_double.c", "output": "fmt_pb_double.o", "arguments": [ "clang", "-c", "fmt/fmt_pb_double.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_pb_float.c", "output": "fmt_pb_float.o", "arguments": [ "clang", "-c", "fmt/fmt_pb_float.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_pb_int.c", "output": "fmt_pb_int.o", "arguments": [ "clang", "-c", "fmt/fmt_pb_int.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_pb_sint.c", "output": "fmt_pb_sint.o", "arguments": [ "clang", "-c", "fmt/fmt_pb_sint.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_pb_string.c", "output": "fmt_pb_string.o", "arguments": [ "clang", "-c", "fmt/fmt_pb_string.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_pb_tag.c", "output": "fmt_pb_tag.o", "arguments": [ "clang", "-c", "fmt/fmt_pb_tag.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_pb_type0_sint.c", "output": "fmt_pb_type0_sint.o", "arguments": [ "clang", "-c", "fmt/fmt_pb_type0_sint.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_pb_type1_double.c", "output": "fmt_pb_type1_double.o", "arguments": [ "clang", "-c", "fmt/fmt_pb_type1_double.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_pb_type1_fixed64.c", "output": "fmt_pb_type1_fixed64.o", "arguments": [ "clang", "-c", "fmt/fmt_pb_type1_fixed64.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_pb_type2_string.c", "output": "fmt_pb_type2_string.o", "arguments": [ "clang", "-c", "fmt/fmt_pb_type2_string.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_pb_type5_fixed32.c", "output": "fmt_pb_type5_fixed32.o", "arguments": [ "clang", "-c", "fmt/fmt_pb_type5_fixed32.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_pb_type5_float.c", "output": "fmt_pb_type5_float.o", "arguments": [ "clang", "-c", "fmt/fmt_pb_type5_float.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_plusminus.c", "output": "fmt_plusminus.o", "arguments": [ "clang", "-c", "fmt/fmt_plusminus.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_str.c", "output": "fmt_str.o", "arguments": [ "clang", "-c", "fmt/fmt_str.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_strm_internal.c", "output": "fmt_strm_internal.o", "arguments": [ "clang", "-c", "fmt/fmt_strm_internal.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_strn.c", "output": "fmt_strn.o", "arguments": [ "clang", "-c", "fmt/fmt_strn.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_tohex.c", "output": "fmt_tohex.o", "arguments": [ "clang", "-c", "fmt/fmt_tohex.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_ulong.c", "output": "fmt_ulong.o", "arguments": [ "clang", "-c", "fmt/fmt_ulong.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_ulong0.c", "output": "fmt_ulong0.o", "arguments": [ "clang", "-c", "fmt/fmt_ulong0.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_ulonglong.c", "output": "fmt_ulonglong.o", "arguments": [ "clang", "-c", "fmt/fmt_ulonglong.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_utf8.c", "output": "fmt_utf8.o", "arguments": [ "clang", "-c", "fmt/fmt_utf8.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_varint.c", "output": "fmt_varint.o", "arguments": [ "clang", "-c", "fmt/fmt_varint.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_xlong.c", "output": "fmt_xlong.o", "arguments": [ "clang", "-c", "fmt/fmt_xlong.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_xlonglong.c", "output": "fmt_xlonglong.o", "arguments": [ "clang", "-c", "fmt/fmt_xlonglong.c", "-I." ]}, 
{ "directory": "@", "file": "fmt/fmt_xmlescape.c", "output": "fmt_xmlescape.o", "arguments": [ "clang", "-c", "fmt/fmt_xmlescape.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_8int.c", "output": "scan_8int.o", "arguments": [ "clang", "-c", "scan/scan_8int.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_8long.c", "output": "scan_8long.o", "arguments": [ "clang", "-c", "scan/scan_8long.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_8longlong.c", "output": "scan_8longlong.o", "arguments": [ "clang", "-c", "scan/scan_8longlong.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_8longn.c", "output": "scan_8longn.o", "arguments": [ "clang", "-c", "scan/scan_8longn.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_8short.c", "output": "scan_8short.o", "arguments": [ "clang", "-c", "scan/scan_8short.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_asn1derlength.c", "output": "scan_asn1derlength.o", "arguments": [ "clang", "-c", "scan/scan_asn1derlength.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_asn1dertag.c", "output": "scan_asn1dertag.o", "arguments": [ "clang", "-c", "scan/scan_asn1dertag.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_charsetnskip.c", "output": "scan_charsetnskip.o", "arguments": [ "clang", "-c", "scan/scan_charsetnskip.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_double.c", "output": "scan_double.o", "arguments": [ "clang", "-c", "scan/scan_double.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_fromhex.c", "output": "scan_fromhex.o", "arguments": [ "clang", "-c", "scan/scan_fromhex.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_httpdate.c", "output": "scan_httpdate.o", "arguments": [ "clang", "-c", "scan/scan_httpdate.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_int.c", "output": "scan_int.o", "arguments": [ "clang", "-c", "scan/scan_int.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_iso8601.c", "output": "scan_iso8601.o", "arguments": [ "clang", "-c", "scan/scan_iso8601.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_long.c", "output": "scan_long.o", "arguments": [ "clang", "-c", "scan/scan_long.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_longlong.c", "output": "scan_longlong.o", "arguments": [ "clang", "-c", "scan/scan_longlong.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_longn.c", "output": "scan_longn.o", "arguments": [ "clang", "-c", "scan/scan_longn.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_netstring.c", "output": "scan_netstring.o", "arguments": [ "clang", "-c", "scan/scan_netstring.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_noncharsetnskip.c", "output": "scan_noncharsetnskip.o", "arguments": [ "clang", "-c", "scan/scan_noncharsetnskip.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_nonwhitenskip.c", "output": "scan_nonwhitenskip.o", "arguments": [ "clang", "-c", "scan/scan_nonwhitenskip.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_pb_tag.c", "output": "scan_pb_tag.o", "arguments": [ "clang", "-c", "scan/scan_pb_tag.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_pb_type0_sint.c", "output": "scan_pb_type0_sint.o", "arguments": [ "clang", "-c", "scan/scan_pb_type0_sint.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_pb_type1_double.c", "output": "scan_pb_type1_double.o", "arguments": [ "clang", "-c", "scan/scan_pb_type1_double.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_pb_type1_fixed64.c", "output": "scan_pb_type1_fixed64.o", "arguments": [ "clang", "-c", "scan/scan_pb_type1_fixed64.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_pb_type2_stringlen.c", "output": "scan_pb_type2_stringlen.o", "arguments": [ "clang", "-c", "scan/scan_pb_type2_stringlen.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_pb_type5_fixed32.c", "output": "scan_pb_type5_fixed32.o", "arguments": [ "clang", "-c", "scan/scan_pb_type5_fixed32.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_pb_type5_float.c", "output": "scan_pb_type5_float.o", "arguments": [ "clang", "-c", "scan/scan_pb_type5_float.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_plusminus.c", "output": "scan_plusminus.o", "arguments": [ "clang", "-c", "scan/scan_plusminus.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_short.c", "output": "scan_short.o", "arguments": [ "clang", "-c", "scan/scan_short.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_uint.c", "output": "scan_uint.o", "arguments": [ "clang", "-c", "scan/scan_uint.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_ulong.c", "output": "scan_ulong.o", "arguments": [ "clang", "-c", "scan/scan_ulong.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_ulonglong.c", "output": "scan_ulonglong.o", "arguments": [ "clang", "-c", "scan/scan_ulonglong.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_ulongn.c", "output": "scan_ulongn.o", "arguments": [ "clang", "-c", "scan/scan_ulongn.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_ushort.c", "output": "scan_ushort.o", "arguments": [ "clang", "-c", "scan/scan_ushort.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_utf8.c", "output": "scan_utf8.o", "arguments": [ "clang", "-c", "scan/scan_utf8.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_utf8_sem.c", "output": "scan_utf8_sem.o", "arguments": [ "clang", "-c", "scan/scan_utf8_sem.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_varint.c", "output": "scan_varint.o", "arguments": [ "clang", "-c", "scan/scan_varint.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_whitenskip.c", "output": "scan_whitenskip.o", "arguments": [ "clang", "-c", "scan/scan_whitenskip.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_xint.c", "output": "scan_xint.o", "arguments": [ "clang", "-c", "scan/scan_xint.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_xlong.c", "output": "scan_xlong.o", "arguments": [ "clang", "-c", "scan/scan_xlong.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_xlonglong.c", "output": "scan_xlonglong.o", "arguments": [ "clang", "-c", "scan/scan_xlonglong.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_xlongn.c", "output": "scan_xlongn.o", "arguments": [ "clang", "-c", "scan/scan_xlongn.c", "-I." ]}, 
{ "directory": "@", "file": "scan/scan_xshort.c", "output": "scan_xshort.o", "arguments": [ "clang", "-c", "scan/scan_xshort.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint16_pack.c", "output": "uint16_pack.o", "arguments": [ "clang", "-c", "uint/uint16_pack.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint16_pack_big.c", "output": "uint16_pack_big.o", "arguments": [ "clang", "-c", "uint/uint16_pack_big.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint16_read.c", "output": "uint16_read.o", "arguments": [ "clang", "-c", "uint/uint16_read.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint16_read_big.c", "output": "uint16_read_big.o", "arguments": [ "clang", "-c", "uint/uint16_read_big.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint16_unpack.c", "output": "uint16_unpack.o", "arguments": [ "clang", "-c", "uint/uint16_unpack.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint16_unpack_big.c", "output": "uint16_unpack_big.o", "arguments": [ "clang", "-c", "uint/uint16_unpack_big.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint32_pack.c", "output": "uint32_pack.o", "arguments": [ "clang", "-c", "uint/uint32_pack.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint32_pack_big.c", "output": "uint32_pack_big.o", "arguments": [ "clang", "-c", "uint/uint32_pack_big.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint32_read.c", "output": "uint32_read.o", "arguments": [ "clang", "-c", "uint/uint32_read.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint32_read_big.c", "output": "uint32_read_big.o", "arguments": [ "clang", "-c", "uint/uint32_read_big.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint32_unpack.c", "output": "uint32_unpack.o", "arguments": [ "clang", "-c", "uint/uint32_unpack.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint32_unpack_big.c", "output": "uint32_unpack_big.o", "arguments": [ "clang", "-c", "uint/uint32_unpack_big.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint64_pack.c", "output": "uint64_pack.o", "arguments": [ "clang", "-c", "uint/uint64_pack.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint64_pack_big.c", "output": "uint64_pack_big.o", "arguments": [ "clang", "-c", "uint/uint64_pack_big.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint64_read.c", "output": "uint64_read.o", "arguments": [ "clang", "-c", "uint/uint64_read.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint64_read_big.c", "output": "uint64_read_big.o", "arguments": [ "clang", "-c", "uint/uint64_read_big.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint64_unpack.c", "output": "uint64_unpack.o", "arguments": [ "clang", "-c", "uint/uint64_unpack.c", "-I." ]}, 
{ "directory": "@", "file": "uint/uint64_unpack_big.c", "output": "uint64_unpack_big.o", "arguments": [ "clang", "-c", "uint/uint64_unpack_big.c", "-I." ]}, 
{ "directory": "@", "file": "open/open_append.c", "output": "open_append.o", "arguments": [ "clang", "-c", "open/open_append.c", "-I." ]}, 
{ "directory": "@", "file": "open/open_excl.c", "output": "open_excl.o", "arguments": [ "clang", "-c", "open/open_excl.c", "-I." ]}, 
{ "directory": "@", "file": "open/open_read.c", "output": "open_read.o", "arguments": [ "clang", "-c", "open/open_read.c", "-I." ]}, 
{ "directory": "@", "file": "open/open_rw.c", "output": "open_rw.o", "arguments": [ "clang", "-c", "open/open_rw.c", "-I." ]}, 
{ "directory": "@", "file": "open/open_trunc.c", "output": "open_trunc.o", "arguments": [ "clang", "-c", "open/open_trunc.c", "-I." ]}, 
{ "directory": "@", "file": "open/open_write.c", "output": "open_write.o", "arguments": [ "clang", "-c", "open/open_write.c", "-I." ]}, 
{ "directory": "@", "file": "open/openreadclose.c", "output": "openreadclose.o", "arguments": [ "clang", "-c", "open/openreadclose.c", "-I." ]}, 
{ "directory": "@", "file": "open/readclose.c", "output": "readclose.o", "arguments": [ "clang", "-c", "open/readclose.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_append.c", "output": "stralloc_append.o", "arguments": [ "clang", "-c", "stralloc/stralloc_append.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_cat.c", "output": "stralloc_cat.o", "arguments": [ "clang", "-c", "stralloc/stralloc_cat.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_catb.c", "output": "stralloc_catb.o", "arguments": [ "clang", "-c", "stralloc/stralloc_catb.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_catlong0.c", "output": "stralloc_catlong0.o", "arguments": [ "clang", "-c", "stralloc/stralloc_catlong0.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_catm_internal.c", "output": "stralloc_catm_internal.o", "arguments": [ "clang", "-c", "stralloc/stralloc_catm_internal.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_cats.c", "output": "stralloc_cats.o", "arguments": [ "clang", "-c", "stralloc/stralloc_cats.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_catulong0.c", "output": "stralloc_catulong0.o", "arguments": [ "clang", "-c", "stralloc/stralloc_catulong0.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_chomp.c", "output": "stralloc_chomp.o", "arguments": [ "clang", "-c", "stralloc/stralloc_chomp.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_chop.c", "output": "stralloc_chop.o", "arguments": [ "clang", "-c", "stralloc/stralloc_chop.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_copy.c", "output": "stralloc_copy.o", "arguments": [ "clang", "-c", "stralloc/stralloc_copy.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_copyb.c", "output": "stralloc_copyb.o", "arguments": [ "clang", "-c", "stralloc/stralloc_copyb.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_copys.c", "output": "stralloc_copys.o", "arguments": [ "clang", "-c", "stralloc/stralloc_copys.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_diff.c", "output": "stralloc_diff.o", "arguments": [ "clang", "-c", "stralloc/stralloc_diff.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_diffs.c", "output": "stralloc_diffs.o", "arguments": [ "clang", "-c", "stralloc/stralloc_diffs.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_free.c", "output": "stralloc_free.o", "arguments": [ "clang", "-c", "stralloc/stralloc_free.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_init.c", "output": "stralloc_init.o", "arguments": [ "clang", "-c", "stralloc/stralloc_init.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_ready.c", "output": "stralloc_ready.o", "arguments": [ "clang", "-c", "stralloc/stralloc_ready.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_readyplus.c", "output": "stralloc_readyplus.o", "arguments": [ "clang", "-c", "stralloc/stralloc_readyplus.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_starts.c", "output": "stralloc_starts.o", "arguments": [ "clang", "-c", "stralloc/stralloc_starts.c", "-I." ]}, 
{ "directory": "@", "file": "stralloc/stralloc_zero.c", "output": "stralloc_zero.o", "arguments": [ "clang", "-c", "stralloc/stralloc_zero.c", "-I." ]}, 
{ "directory": "@", "file": "unix/iopause.c", "output": "iopause.o", "arguments": [ "clang", "-c", "unix/iopause.c", "-I." ]}, 
{ "directory": "@", "file": "unix/ndelay_off.c", "output": "ndelay_off.o", "arguments": [ "clang", "-c", "unix/ndelay_off.c", "-I." ]}, 
{ "directory": "@", "file": "unix/ndelay_on.c", "output": "ndelay_on.o", "arguments": [ "clang", "-c", "unix/ndelay_on.c", "-I." ]}, 
{ "directory": "@", "file": "unix/winsock2errno.c", "output": "winsock2errno.o", "arguments": [ "clang", "-c", "unix/winsock2errno.c", "-I." ]}, 
{ "directory": "@", "file": "socket/fmt_ip4.c", "output": "fmt_ip4.o", "arguments": [ "clang", "-c", "socket/fmt_ip4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/fmt_ip6.c", "output": "fmt_ip6.o", "arguments": [ "clang", "-c", "socket/fmt_ip6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/fmt_ip6_flat.c", "output": "fmt_ip6_flat.o", "arguments": [ "clang", "-c", "socket/fmt_ip6_flat.c", "-I." ]}, 
{ "directory": "@", "file": "socket/fmt_ip6c.c", "output": "fmt_ip6c.o", "arguments": [ "clang", "-c", "socket/fmt_ip6c.c", "-I." ]}, 
{ "directory": "@", "file": "socket/fmt_ip6if.c", "output": "fmt_ip6if.o", "arguments": [ "clang", "-c", "socket/fmt_ip6if.c", "-I." ]}, 
{ "directory": "@", "file": "socket/fmt_ip6ifc.c", "output": "fmt_ip6ifc.o", "arguments": [ "clang", "-c", "socket/fmt_ip6ifc.c", "-I." ]}, 
{ "directory": "@", "file": "socket/init.c", "output": "init.o", "arguments": [ "clang", "-c", "socket/init.c", "-I." ]}, 
{ "directory": "@", "file": "socket/scan_ip4.c", "output": "scan_ip4.o", "arguments": [ "clang", "-c", "socket/scan_ip4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/scan_ip6.c", "output": "scan_ip6.o", "arguments": [ "clang", "-c", "socket/scan_ip6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/scan_ip6_flat.c", "output": "scan_ip6_flat.o", "arguments": [ "clang", "-c", "socket/scan_ip6_flat.c", "-I." ]}, 
{ "directory": "@", "file": "socket/scan_ip6if.c", "output": "scan_ip6if.o", "arguments": [ "clang", "-c", "socket/scan_ip6if.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_accept4.c", "output": "socket_accept4.o", "arguments": [ "clang", "-c", "socket/socket_accept4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_accept4_flags.c", "output": "socket_accept4_flags.o", "arguments": [ "clang", "-c", "socket/socket_accept4_flags.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_accept4_makenonblocking.c", "output": "socket_accept4_makenonblocking.o", "arguments": [ "clang", "-c", "socket/socket_accept4_makenonblocking.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_accept4_makenonblocking_setcloseonexec.c", "output": "socket_accept4_makenonblocking_setcloseonexec.o", "arguments": [ "clang", "-c", "socket/socket_accept4_makenonblocking_setcloseonexec.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_accept4_setcloseonexec.c", "output": "socket_accept4_setcloseonexec.o", "arguments": [ "clang", "-c", "socket/socket_accept4_setcloseonexec.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_accept6.c", "output": "socket_accept6.o", "arguments": [ "clang", "-c", "socket/socket_accept6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_accept6_flags.c", "output": "socket_accept6_flags.o", "arguments": [ "clang", "-c", "socket/socket_accept6_flags.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_accept6_makenonblocking.c", "output": "socket_accept6_makenonblocking.o", "arguments": [ "clang", "-c", "socket/socket_accept6_makenonblocking.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_accept6_makenonblocking_setcloseonexec.c", "output": "socket_accept6_makenonblocking_setcloseonexec.o", "arguments": [ "clang", "-c", "socket/socket_accept6_makenonblocking_setcloseonexec.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_accept6_setcloseonexec.c", "output": "socket_accept6_setcloseonexec.o", "arguments": [ "clang", "-c", "socket/socket_accept6_setcloseonexec.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_bind4.c", "output": "socket_bind4.o", "arguments": [ "clang", "-c", "socket/socket_bind4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_bind4_reuse.c", "output": "socket_bind4_reuse.o", "arguments": [ "clang", "-c", "socket/socket_bind4_reuse.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_bind6.c", "output": "socket_bind6.o", "arguments": [ "clang", "-c", "socket/socket_bind6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_bind6_reuse.c", "output": "socket_bind6_reuse.o", "arguments": [ "clang", "-c", "socket/socket_bind6_reuse.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_broadcast.c", "output": "socket_broadcast.o", "arguments": [ "clang", "-c", "socket/socket_broadcast.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_connect4.c", "output": "socket_connect4.o", "arguments": [ "clang", "-c", "socket/socket_connect4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_connect6.c", "output": "socket_connect6.o", "arguments": [ "clang", "-c", "socket/socket_connect6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_connected.c", "output": "socket_connected.o", "arguments": [ "clang", "-c", "socket/socket_connected.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_deferaccept.c", "output": "socket_deferaccept.o", "arguments": [ "clang", "-c", "socket/socket_deferaccept.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_fastopen.c", "output": "socket_fastopen.o", "arguments": [ "clang", "-c", "socket/socket_fastopen.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_fastopen_connect4.c", "output": "socket_fastopen_connect4.o", "arguments": [ "clang", "-c", "socket/socket_fastopen_connect4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_fastopen_connect6.c", "output": "socket_fastopen_connect6.o", "arguments": [ "clang", "-c", "socket/socket_fastopen_connect6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_getifidx.c", "output": "socket_getifidx.o", "arguments": [ "clang", "-c", "socket/socket_getifidx.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_getifname.c", "output": "socket_getifname.o", "arguments": [ "clang", "-c", "socket/socket_getifname.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_ip4loopback.c", "output": "socket_ip4loopback.o", "arguments": [ "clang", "-c", "socket/socket_ip4loopback.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_listen.c", "output": "socket_listen.o", "arguments": [ "clang", "-c", "socket/socket_listen.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_local4.c", "output": "socket_local4.o", "arguments": [ "clang", "-c", "socket/socket_local4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_local6.c", "output": "socket_local6.o", "arguments": [ "clang", "-c", "socket/socket_local6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_mchopcount6.c", "output": "socket_mchopcount6.o", "arguments": [ "clang", "-c", "socket/socket_mchopcount6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_mcjoin4.c", "output": "socket_mcjoin4.o", "arguments": [ "clang", "-c", "socket/socket_mcjoin4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_mcjoin6.c", "output": "socket_mcjoin6.o", "arguments": [ "clang", "-c", "socket/socket_mcjoin6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_mcleave4.c", "output": "socket_mcleave4.o", "arguments": [ "clang", "-c", "socket/socket_mcleave4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_mcleave6.c", "output": "socket_mcleave6.o", "arguments": [ "clang", "-c", "socket/socket_mcleave6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_mcloop4.c", "output": "socket_mcloop4.o", "arguments": [ "clang", "-c", "socket/socket_mcloop4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_mcloop6.c", "output": "socket_mcloop6.o", "arguments": [ "clang", "-c", "socket/socket_mcloop6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_mcttl4.c", "output": "socket_mcttl4.o", "arguments": [ "clang", "-c", "socket/socket_mcttl4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_noipv6.c", "output": "socket_noipv6.o", "arguments": [ "clang", "-c", "socket/socket_noipv6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_quickack.c", "output": "socket_quickack.o", "arguments": [ "clang", "-c", "socket/socket_quickack.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_recv4.c", "output": "socket_recv4.o", "arguments": [ "clang", "-c", "socket/socket_recv4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_recv6.c", "output": "socket_recv6.o", "arguments": [ "clang", "-c", "socket/socket_recv6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_remote4.c", "output": "socket_remote4.o", "arguments": [ "clang", "-c", "socket/socket_remote4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_remote6.c", "output": "socket_remote6.o", "arguments": [ "clang", "-c", "socket/socket_remote6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_sctp4.c", "output": "socket_sctp4.o", "arguments": [ "clang", "-c", "socket/socket_sctp4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_sctp4b.c", "output": "socket_sctp4b.o", "arguments": [ "clang", "-c", "socket/socket_sctp4b.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_sctp6.c", "output": "socket_sctp6.o", "arguments": [ "clang", "-c", "socket/socket_sctp6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_sctp6b.c", "output": "socket_sctp6b.o", "arguments": [ "clang", "-c", "socket/socket_sctp6b.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_send4.c", "output": "socket_send4.o", "arguments": [ "clang", "-c", "socket/socket_send4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_send6.c", "output": "socket_send6.o", "arguments": [ "clang", "-c", "socket/socket_send6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_tcp4.c", "output": "socket_tcp4.o", "arguments": [ "clang", "-c", "socket/socket_tcp4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_tcp4b.c", "output": "socket_tcp4b.o", "arguments": [ "clang", "-c", "socket/socket_tcp4b.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_tcp6.c", "output": "socket_tcp6.o", "arguments": [ "clang", "-c", "socket/socket_tcp6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_tcp6b.c", "output": "socket_tcp6b.o", "arguments": [ "clang", "-c", "socket/socket_tcp6b.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_tryreservein.c", "output": "socket_tryreservein.o", "arguments": [ "clang", "-c", "socket/socket_tryreservein.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_udp4.c", "output": "socket_udp4.o", "arguments": [ "clang", "-c", "socket/socket_udp4.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_udp6.c", "output": "socket_udp6.o", "arguments": [ "clang", "-c", "socket/socket_udp6.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_v4mappedprefix.c", "output": "socket_v4mappedprefix.o", "arguments": [ "clang", "-c", "socket/socket_v4mappedprefix.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_v6any.c", "output": "socket_v6any.o", "arguments": [ "clang", "-c", "socket/socket_v6any.c", "-I." ]}, 
{ "directory": "@", "file": "socket/socket_v6loopback.c", "output": "socket_v6loopback.o", "arguments": [ "clang", "-c", "socket/socket_v6loopback.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/bs_capacityassert.c", "output": "bs_capacityassert.o", "arguments": [ "clang", "-c", "buffer/bs_capacityassert.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/bs_capacitycheck.c", "output": "bs_capacitycheck.o", "arguments": [ "clang", "-c", "buffer/bs_capacitycheck.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/bs_capacityleft.c", "output": "bs_capacityleft.o", "arguments": [ "clang", "-c", "buffer/bs_capacityleft.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/bs_consumeleftovers.c", "output": "bs_consumeleftovers.o", "arguments": [ "clang", "-c", "buffer/bs_consumeleftovers.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/bs_err.c", "output": "bs_err.o", "arguments": [ "clang", "-c", "buffer/bs_err.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/bs_get.c", "output": "bs_get.o", "arguments": [ "clang", "-c", "buffer/bs_get.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/bs_init_bstream_size.c", "output": "bs_init_bstream_size.o", "arguments": [ "clang", "-c", "buffer/bs_init_bstream_size.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/bs_init_iobuf.c", "output": "bs_init_iobuf.o", "arguments": [ "clang", "-c", "buffer/bs_init_iobuf.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/bs_init_iobuf_size.c", "output": "bs_init_iobuf_size.o", "arguments": [ "clang", "-c", "buffer/bs_init_iobuf_size.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/bs_init_membuf.c", "output": "bs_init_membuf.o", "arguments": [ "clang", "-c", "buffer/bs_init_membuf.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/bs_nomoredataassert.c", "output": "bs_nomoredataassert.o", "arguments": [ "clang", "-c", "buffer/bs_nomoredataassert.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/bs_peek.c", "output": "bs_peek.o", "arguments": [ "clang", "-c", "buffer/bs_peek.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/bs_seterrorstate.c", "output": "bs_seterrorstate.o", "arguments": [ "clang", "-c", "buffer/bs_seterrorstate.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/bs_skip.c", "output": "bs_skip.o", "arguments": [ "clang", "-c", "buffer/bs_skip.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_0.c", "output": "buffer_0.o", "arguments": [ "clang", "-c", "buffer/buffer_0.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_0small.c", "output": "buffer_0small.o", "arguments": [ "clang", "-c", "buffer/buffer_0small.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_1.c", "output": "buffer_1.o", "arguments": [ "clang", "-c", "buffer/buffer_1.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_1small.c", "output": "buffer_1small.o", "arguments": [ "clang", "-c", "buffer/buffer_1small.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_2.c", "output": "buffer_2.o", "arguments": [ "clang", "-c", "buffer/buffer_2.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_close.c", "output": "buffer_close.o", "arguments": [ "clang", "-c", "buffer/buffer_close.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_feed.c", "output": "buffer_feed.o", "arguments": [ "clang", "-c", "buffer/buffer_feed.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_flush.c", "output": "buffer_flush.o", "arguments": [ "clang", "-c", "buffer/buffer_flush.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_free.c", "output": "buffer_free.o", "arguments": [ "clang", "-c", "buffer/buffer_free.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_fromarray.c", "output": "buffer_fromarray.o", "arguments": [ "clang", "-c", "buffer/buffer_fromarray.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_frombuf.c", "output": "buffer_frombuf.o", "arguments": [ "clang", "-c", "buffer/buffer_frombuf.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_fromsa.c", "output": "buffer_fromsa.o", "arguments": [ "clang", "-c", "buffer/buffer_fromsa.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_get.c", "output": "buffer_get.o", "arguments": [ "clang", "-c", "buffer/buffer_get.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_get_new_token_sa.c", "output": "buffer_get_new_token_sa.o", "arguments": [ "clang", "-c", "buffer/buffer_get_new_token_sa.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_get_new_token_sa_pred.c", "output": "buffer_get_new_token_sa_pred.o", "arguments": [ "clang", "-c", "buffer/buffer_get_new_token_sa_pred.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_get_token.c", "output": "buffer_get_token.o", "arguments": [ "clang", "-c", "buffer/buffer_get_token.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_get_token_pred.c", "output": "buffer_get_token_pred.o", "arguments": [ "clang", "-c", "buffer/buffer_get_token_pred.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_get_token_sa.c", "output": "buffer_get_token_sa.o", "arguments": [ "clang", "-c", "buffer/buffer_get_token_sa.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_get_token_sa_pred.c", "output": "buffer_get_token_sa_pred.o", "arguments": [ "clang", "-c", "buffer/buffer_get_token_sa_pred.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_getc.c", "output": "buffer_getc.o", "arguments": [ "clang", "-c", "buffer/buffer_getc.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_getline.c", "output": "buffer_getline.o", "arguments": [ "clang", "-c", "buffer/buffer_getline.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_getline_sa.c", "output": "buffer_getline_sa.o", "arguments": [ "clang", "-c", "buffer/buffer_getline_sa.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_getn.c", "output": "buffer_getn.o", "arguments": [ "clang", "-c", "buffer/buffer_getn.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_getnewline_sa.c", "output": "buffer_getnewline_sa.o", "arguments": [ "clang", "-c", "buffer/buffer_getnewline_sa.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_init.c", "output": "buffer_init.o", "arguments": [ "clang", "-c", "buffer/buffer_init.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_init_allocbuf.c", "output": "buffer_init_allocbuf.o", "arguments": [ "clang", "-c", "buffer/buffer_init_allocbuf.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_init_free.c", "output": "buffer_init_free.o", "arguments": [ "clang", "-c", "buffer/buffer_init_free.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_init_read.c", "output": "buffer_init_read.o", "arguments": [ "clang", "-c", "buffer/buffer_init_read.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_init_read_allocbuf.c", "output": "buffer_init_read_allocbuf.o", "arguments": [ "clang", "-c", "buffer/buffer_init_read_allocbuf.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_init_staticcontents.c", "output": "buffer_init_staticcontents.o", "arguments": [ "clang", "-c", "buffer/buffer_init_staticcontents.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_init_staticcontents_free.c", "output": "buffer_init_staticcontents_free.o", "arguments": [ "clang", "-c", "buffer/buffer_init_staticcontents_free.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_init_write.c", "output": "buffer_init_write.o", "arguments": [ "clang", "-c", "buffer/buffer_init_write.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_init_write_allocbuf.c", "output": "buffer_init_write_allocbuf.o", "arguments": [ "clang", "-c", "buffer/buffer_init_write_allocbuf.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_mmapread.c", "output": "buffer_mmapread.o", "arguments": [ "clang", "-c", "buffer/buffer_mmapread.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_munmap.c", "output": "buffer_munmap.o", "arguments": [ "clang", "-c", "buffer/buffer_munmap.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_peek.c", "output": "buffer_peek.o", "arguments": [ "clang", "-c", "buffer/buffer_peek.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_peekc.c", "output": "buffer_peekc.o", "arguments": [ "clang", "-c", "buffer/buffer_peekc.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_put.c", "output": "buffer_put.o", "arguments": [ "clang", "-c", "buffer/buffer_put.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_put8long.c", "output": "buffer_put8long.o", "arguments": [ "clang", "-c", "buffer/buffer_put8long.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putalign.c", "output": "buffer_putalign.o", "arguments": [ "clang", "-c", "buffer/buffer_putalign.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_puterror.c", "output": "buffer_puterror.o", "arguments": [ "clang", "-c", "buffer/buffer_puterror.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_puterror2.c", "output": "buffer_puterror2.o", "arguments": [ "clang", "-c", "buffer/buffer_puterror2.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putflush.c", "output": "buffer_putflush.o", "arguments": [ "clang", "-c", "buffer/buffer_putflush.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putlong.c", "output": "buffer_putlong.o", "arguments": [ "clang", "-c", "buffer/buffer_putlong.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putlonglong.c", "output": "buffer_putlonglong.o", "arguments": [ "clang", "-c", "buffer/buffer_putlonglong.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putm_internal.c", "output": "buffer_putm_internal.o", "arguments": [ "clang", "-c", "buffer/buffer_putm_internal.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putm_internal_flush.c", "output": "buffer_putm_internal_flush.o", "arguments": [ "clang", "-c", "buffer/buffer_putm_internal_flush.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putnlflush.c", "output": "buffer_putnlflush.o", "arguments": [ "clang", "-c", "buffer/buffer_putnlflush.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_puts.c", "output": "buffer_puts.o", "arguments": [ "clang", "-c", "buffer/buffer_puts.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putsa.c", "output": "buffer_putsa.o", "arguments": [ "clang", "-c", "buffer/buffer_putsa.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putsaflush.c", "output": "buffer_putsaflush.o", "arguments": [ "clang", "-c", "buffer/buffer_putsaflush.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putsalign.c", "output": "buffer_putsalign.o", "arguments": [ "clang", "-c", "buffer/buffer_putsalign.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putsflush.c", "output": "buffer_putsflush.o", "arguments": [ "clang", "-c", "buffer/buffer_putsflush.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putspace.c", "output": "buffer_putspace.o", "arguments": [ "clang", "-c", "buffer/buffer_putspace.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putulong.c", "output": "buffer_putulong.o", "arguments": [ "clang", "-c", "buffer/buffer_putulong.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putulonglong.c", "output": "buffer_putulonglong.o", "arguments": [ "clang", "-c", "buffer/buffer_putulonglong.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_putxlong.c", "output": "buffer_putxlong.o", "arguments": [ "clang", "-c", "buffer/buffer_putxlong.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_seek.c", "output": "buffer_seek.o", "arguments": [ "clang", "-c", "buffer/buffer_seek.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_stubborn.c", "output": "buffer_stubborn.o", "arguments": [ "clang", "-c", "buffer/buffer_stubborn.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_stubborn2.c", "output": "buffer_stubborn2.o", "arguments": [ "clang", "-c", "buffer/buffer_stubborn2.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/buffer_tosa.c", "output": "buffer_tosa.o", "arguments": [ "clang", "-c", "buffer/buffer_tosa.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/errmsg_iam.c", "output": "errmsg_iam.o", "arguments": [ "clang", "-c", "buffer/errmsg_iam.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/errmsg_info.c", "output": "errmsg_info.o", "arguments": [ "clang", "-c", "buffer/errmsg_info.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/errmsg_infosys.c", "output": "errmsg_infosys.o", "arguments": [ "clang", "-c", "buffer/errmsg_infosys.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/errmsg_puts.c", "output": "errmsg_puts.o", "arguments": [ "clang", "-c", "buffer/errmsg_puts.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/errmsg_warn.c", "output": "errmsg_warn.o", "arguments": [ "clang", "-c", "buffer/errmsg_warn.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/errmsg_warnsys.c", "output": "errmsg_warnsys.o", "arguments": [ "clang", "-c", "buffer/errmsg_warnsys.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/errmsg_write.c", "output": "errmsg_write.o", "arguments": [ "clang", "-c", "buffer/errmsg_write.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/prs_asciiz.c", "output": "prs_asciiz.o", "arguments": [ "clang", "-c", "buffer/prs_asciiz.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/prs_asciiz_fixedlen.c", "output": "prs_asciiz_fixedlen.o", "arguments": [ "clang", "-c", "buffer/prs_asciiz_fixedlen.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/prs_readblob.c", "output": "prs_readblob.o", "arguments": [ "clang", "-c", "buffer/prs_readblob.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/prs_u16.c", "output": "prs_u16.o", "arguments": [ "clang", "-c", "buffer/prs_u16.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/prs_u16_big.c", "output": "prs_u16_big.o", "arguments": [ "clang", "-c", "buffer/prs_u16_big.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/prs_u32.c", "output": "prs_u32.o", "arguments": [ "clang", "-c", "buffer/prs_u32.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/prs_u32_big.c", "output": "prs_u32_big.o", "arguments": [ "clang", "-c", "buffer/prs_u32_big.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/prs_u64.c", "output": "prs_u64.o", "arguments": [ "clang", "-c", "buffer/prs_u64.c", "-I." ]}, 
{ "directory": "@", "file": "buffer/prs_u64_big.c", "output": "prs_u64_big.o", "arguments": [ "clang", "-c", "buffer/prs_u64_big.c", "-I." ]}, 
{ "directory": "@", "file": "mmap/mmap_private.c", "output": "mmap_private.o", "arguments": [ "clang", "-c", "mmap/mmap_private.c", "-I." ]}, 
{ "directory": "@", "file": "mmap/mmap_read.c", "output": "mmap_read.o", "arguments": [ "clang", "-c", "mmap/mmap_read.c", "-I." ]}, 
{ "directory": "@", "file": "mmap/mmap_readat.c", "output": "mmap_readat.o", "arguments": [ "clang", "-c", "mmap/mmap_readat.c", "-I." ]}, 
{ "directory": "@", "file": "mmap/mmap_shared.c", "output": "mmap_shared.o", "arguments": [ "clang", "-c", "mmap/mmap_shared.c", "-I." ]}, 
{ "directory": "@", "file": "mmap/mmap_unmap.c", "output": "mmap_unmap.o", "arguments": [ "clang", "-c", "mmap/mmap_unmap.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/base64.c", "output": "base64.o", "arguments": [ "clang", "-c", "textcode/base64.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/base64url.c", "output": "base64url.o", "arguments": [ "clang", "-c", "textcode/base64url.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_base64.c", "output": "fmt_base64.o", "arguments": [ "clang", "-c", "textcode/fmt_base64.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_base64url.c", "output": "fmt_base64url.o", "arguments": [ "clang", "-c", "textcode/fmt_base64url.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_cescape.c", "output": "fmt_cescape.o", "arguments": [ "clang", "-c", "textcode/fmt_cescape.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_foldwhitespace.c", "output": "fmt_foldwhitespace.o", "arguments": [ "clang", "-c", "textcode/fmt_foldwhitespace.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_hexdump.c", "output": "fmt_hexdump.o", "arguments": [ "clang", "-c", "textcode/fmt_hexdump.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_html.c", "output": "fmt_html.o", "arguments": [ "clang", "-c", "textcode/fmt_html.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_html_tagarg.c", "output": "fmt_html_tagarg.o", "arguments": [ "clang", "-c", "textcode/fmt_html_tagarg.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_jsonescape.c", "output": "fmt_jsonescape.o", "arguments": [ "clang", "-c", "textcode/fmt_jsonescape.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_ldapescape.c", "output": "fmt_ldapescape.o", "arguments": [ "clang", "-c", "textcode/fmt_ldapescape.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_ldapescape2.c", "output": "fmt_ldapescape2.o", "arguments": [ "clang", "-c", "textcode/fmt_ldapescape2.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_quotedprintable.c", "output": "fmt_quotedprintable.o", "arguments": [ "clang", "-c", "textcode/fmt_quotedprintable.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_to_array.c", "output": "fmt_to_array.o", "arguments": [ "clang", "-c", "textcode/fmt_to_array.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_to_sa.c", "output": "fmt_to_sa.o", "arguments": [ "clang", "-c", "textcode/fmt_to_sa.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_tofrom_array.c", "output": "fmt_tofrom_array.o", "arguments": [ "clang", "-c", "textcode/fmt_tofrom_array.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_urlencoded.c", "output": "fmt_urlencoded.o", "arguments": [ "clang", "-c", "textcode/fmt_urlencoded.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_uuencoded.c", "output": "fmt_uuencoded.o", "arguments": [ "clang", "-c", "textcode/fmt_uuencoded.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_xml.c", "output": "fmt_xml.o", "arguments": [ "clang", "-c", "textcode/fmt_xml.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/fmt_yenc.c", "output": "fmt_yenc.o", "arguments": [ "clang", "-c", "textcode/fmt_yenc.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/scan_base64.c", "output": "scan_base64.o", "arguments": [ "clang", "-c", "textcode/scan_base64.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/scan_base64url.c", "output": "scan_base64url.o", "arguments": [ "clang", "-c", "textcode/scan_base64url.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/scan_cescape.c", "output": "scan_cescape.o", "arguments": [ "clang", "-c", "textcode/scan_cescape.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/scan_hexdump.c", "output": "scan_hexdump.o", "arguments": [ "clang", "-c", "textcode/scan_hexdump.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/scan_html.c", "output": "scan_html.o", "arguments": [ "clang", "-c", "textcode/scan_html.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/scan_jsonescape.c", "output": "scan_jsonescape.o", "arguments": [ "clang", "-c", "textcode/scan_jsonescape.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/scan_ldapescape.c", "output": "scan_ldapescape.o", "arguments": [ "clang", "-c", "textcode/scan_ldapescape.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/scan_quotedprintable.c", "output": "scan_quotedprintable.o", "arguments": [ "clang", "-c", "textcode/scan_quotedprintable.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/scan_to_array.c", "output": "scan_to_array.o", "arguments": [ "clang", "-c", "textcode/scan_to_array.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/scan_to_sa.c", "output": "scan_to_sa.o", "arguments": [ "clang", "-c", "textcode/scan_to_sa.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/scan_tofrom_array.c", "output": "scan_tofrom_array.o", "arguments": [ "clang", "-c", "textcode/scan_tofrom_array.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/scan_urlencoded.c", "output": "scan_urlencoded.o", "arguments": [ "clang", "-c", "textcode/scan_urlencoded.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/scan_uuencoded.c", "output": "scan_uuencoded.o", "arguments": [ "clang", "-c", "textcode/scan_uuencoded.c", "-I." ]}, 
{ "directory": "@", "file": "textcode/scan_yenc.c", "output": "scan_yenc.o", "arguments": [ "clang", "-c", "textcode/scan_yenc.c", "-I." ]}, 
{ "directory": "@", "file": "taia/taia_add.c", "output": "taia_add.o", "arguments": [ "clang", "-c", "taia/taia_add.c", "-I." ]}, 
{ "directory": "@", "file": "taia/taia_addsec.c", "output": "taia_addsec.o", "arguments": [ "clang", "-c", "taia/taia_addsec.c", "-I." ]}, 
{ "directory": "@", "file": "taia/taia_approx.c", "output": "taia_approx.o", "arguments": [ "clang", "-c", "taia/taia_approx.c", "-I." ]}, 
{ "directory": "@", "file": "taia/taia_frac.c", "output": "taia_frac.o", "arguments": [ "clang", "-c", "taia/taia_frac.c", "-I." ]}, 
{ "directory": "@", "file": "taia/taia_half.c", "output": "taia_half.o", "arguments": [ "clang", "-c", "taia/taia_half.c", "-I." ]}, 
{ "directory": "@", "file": "taia/taia_less.c", "output": "taia_less.o", "arguments": [ "clang", "-c", "taia/taia_less.c", "-I." ]}, 
{ "directory": "@", "file": "taia/taia_now.c", "output": "taia_now.o", "arguments": [ "clang", "-c", "taia/taia_now.c", "-I." ]}, 
{ "directory": "@", "file": "taia/taia_pack.c", "output": "taia_pack.o", "arguments": [ "clang", "-c", "taia/taia_pack.c", "-I." ]}, 
{ "directory": "@", "file": "taia/taia_sub.c", "output": "taia_sub.o", "arguments": [ "clang", "-c", "taia/taia_sub.c", "-I." ]}, 
{ "directory": "@", "file": "taia/taia_tai.c", "output": "taia_tai.o", "arguments": [ "clang", "-c", "taia/taia_tai.c", "-I." ]}, 
{ "directory": "@", "file": "taia/taia_uint.c", "output": "taia_uint.o", "arguments": [ "clang", "-c", "taia/taia_uint.c", "-I." ]}, 
{ "directory": "@", "file": "taia/taia_unpack.c", "output": "taia_unpack.o", "arguments": [ "clang", "-c", "taia/taia_unpack.c", "-I." ]}, 
{ "directory": "@", "file": "tai/tai_add.c", "output": "tai_add.o", "arguments": [ "clang", "-c", "tai/tai_add.c", "-I." ]}, 
{ "directory": "@", "file": "tai/tai_now.c", "output": "tai_now.o", "arguments": [ "clang", "-c", "tai/tai_now.c", "-I." ]}, 
{ "directory": "@", "file": "tai/tai_pack.c", "output": "tai_pack.o", "arguments": [ "clang", "-c", "tai/tai_pack.c", "-I." ]}, 
{ "directory": "@", "file": "tai/tai_sub.c", "output": "tai_sub.o", "arguments": [ "clang", "-c", "tai/tai_sub.c", "-I." ]}, 
{ "directory": "@", "file": "tai/tai_uint.c", "output": "tai_uint.o", "arguments": [ "clang", "-c", "tai/tai_uint.c", "-I." ]}, 
{ "directory": "@", "file": "tai/tai_unpack.c", "output": "tai_unpack.o", "arguments": [ "clang", "-c", "tai/tai_unpack.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_dfd.c", "output": "dns_dfd.o", "arguments": [ "clang", "-c", "dns/dns_dfd.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_domain.c", "output": "dns_domain.o", "arguments": [ "clang", "-c", "dns/dns_domain.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_dtda.c", "output": "dns_dtda.o", "arguments": [ "clang", "-c", "dns/dns_dtda.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_ip.c", "output": "dns_ip.o", "arguments": [ "clang", "-c", "dns/dns_ip.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_ip6.c", "output": "dns_ip6.o", "arguments": [ "clang", "-c", "dns/dns_ip6.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_ipq.c", "output": "dns_ipq.o", "arguments": [ "clang", "-c", "dns/dns_ipq.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_ipq6.c", "output": "dns_ipq6.o", "arguments": [ "clang", "-c", "dns/dns_ipq6.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_mx.c", "output": "dns_mx.o", "arguments": [ "clang", "-c", "dns/dns_mx.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_name.c", "output": "dns_name.o", "arguments": [ "clang", "-c", "dns/dns_name.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_nd.c", "output": "dns_nd.o", "arguments": [ "clang", "-c", "dns/dns_nd.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_nd6.c", "output": "dns_nd6.o", "arguments": [ "clang", "-c", "dns/dns_nd6.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_packet.c", "output": "dns_packet.o", "arguments": [ "clang", "-c", "dns/dns_packet.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_random.c", "output": "dns_random.o", "arguments": [ "clang", "-c", "dns/dns_random.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_rcip.c", "output": "dns_rcip.o", "arguments": [ "clang", "-c", "dns/dns_rcip.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_rcrw.c", "output": "dns_rcrw.o", "arguments": [ "clang", "-c", "dns/dns_rcrw.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_resolve.c", "output": "dns_resolve.o", "arguments": [ "clang", "-c", "dns/dns_resolve.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_sortip.c", "output": "dns_sortip.o", "arguments": [ "clang", "-c", "dns/dns_sortip.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_sortip6.c", "output": "dns_sortip6.o", "arguments": [ "clang", "-c", "dns/dns_sortip6.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_transmit.c", "output": "dns_transmit.o", "arguments": [ "clang", "-c", "dns/dns_transmit.c", "-I." ]}, 
{ "directory": "@", "file": "dns/dns_txt.c", "output": "dns_txt.o", "arguments": [ "clang", "-c", "dns/dns_txt.c", "-I." ]}, 
{ "directory": "@", "file": "case/case_diffb.c", "output": "case_diffb.o", "arguments": [ "clang", "-c", "case/case_diffb.c", "-I." ]}, 
{ "directory": "@", "file": "case/case_diffs.c", "output": "case_diffs.o", "arguments": [ "clang", "-c", "case/case_diffs.c", "-I." ]}, 
{ "directory": "@", "file": "case/case_lowerb.c", "output": "case_lowerb.o", "arguments": [ "clang", "-c", "case/case_lowerb.c", "-I." ]}, 
{ "directory": "@", "file": "case/case_lowers.c", "output": "case_lowers.o", "arguments": [ "clang", "-c", "case/case_lowers.c", "-I." ]}, 
{ "directory": "@", "file": "case/case_starts.c", "output": "case_starts.o", "arguments": [ "clang", "-c", "case/case_starts.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_allocate.c", "output": "array_allocate.o", "arguments": [ "clang", "-c", "array/array_allocate.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_bytes.c", "output": "array_bytes.o", "arguments": [ "clang", "-c", "array/array_bytes.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_cat.c", "output": "array_cat.o", "arguments": [ "clang", "-c", "array/array_cat.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_cat0.c", "output": "array_cat0.o", "arguments": [ "clang", "-c", "array/array_cat0.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_catb.c", "output": "array_catb.o", "arguments": [ "clang", "-c", "array/array_catb.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_cate.c", "output": "array_cate.o", "arguments": [ "clang", "-c", "array/array_cate.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_cats.c", "output": "array_cats.o", "arguments": [ "clang", "-c", "array/array_cats.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_cats0.c", "output": "array_cats0.o", "arguments": [ "clang", "-c", "array/array_cats0.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_equal.c", "output": "array_equal.o", "arguments": [ "clang", "-c", "array/array_equal.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_fail.c", "output": "array_fail.o", "arguments": [ "clang", "-c", "array/array_fail.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_get.c", "output": "array_get.o", "arguments": [ "clang", "-c", "array/array_get.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_length.c", "output": "array_length.o", "arguments": [ "clang", "-c", "array/array_length.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_reset.c", "output": "array_reset.o", "arguments": [ "clang", "-c", "array/array_reset.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_start.c", "output": "array_start.o", "arguments": [ "clang", "-c", "array/array_start.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_trunc.c", "output": "array_trunc.o", "arguments": [ "clang", "-c", "array/array_trunc.c", "-I." ]}, 
{ "directory": "@", "file": "array/array_truncate.c", "output": "array_truncate.o", "arguments": [ "clang", "-c", "array/array_truncate.c", "-I." ]}, 
{ "directory": "@", "file": "array/iarray_allocate.c", "output": "iarray_allocate.o", "arguments": [ "clang", "-c", "array/iarray_allocate.c", "-I." ]}, 
{ "directory": "@", "file": "array/iarray_free.c", "output": "iarray_free.o", "arguments": [ "clang", "-c", "array/iarray_free.c", "-I." ]}, 
{ "directory": "@", "file": "array/iarray_get.c", "output": "iarray_get.o", "arguments": [ "clang", "-c", "array/iarray_get.c", "-I." ]}, 
{ "directory": "@", "file": "array/iarray_init.c", "output": "iarray_init.o", "arguments": [ "clang", "-c", "array/iarray_init.c", "-I." ]}, 
{ "directory": "@", "file": "array/iarray_length.c", "output": "iarray_length.o", "arguments": [ "clang", "-c", "array/iarray_length.c", "-I." ]}, 
{ "directory": "@", "file": "mult/imult16.c", "output": "imult16.o", "arguments": [ "clang", "-c", "mult/imult16.c", "-I." ]}, 
{ "directory": "@", "file": "mult/imult32.c", "output": "imult32.o", "arguments": [ "clang", "-c", "mult/imult32.c", "-I." ]}, 
{ "directory": "@", "file": "mult/imult64.c", "output": "imult64.o", "arguments": [ "clang", "-c", "mult/imult64.c", "-I." ]}, 
{ "directory": "@", "file": "mult/range_arrayinbuf.c", "output": "range_arrayinbuf.o", "arguments": [ "clang", "-c", "mult/range_arrayinbuf.c", "-I." ]}, 
{ "directory": "@", "file": "mult/range_str2inbuf.c", "output": "range_str2inbuf.o", "arguments": [ "clang", "-c", "mult/range_str2inbuf.c", "-I." ]}, 
{ "directory": "@", "file": "mult/range_str4inbuf.c", "output": "range_str4inbuf.o", "arguments": [ "clang", "-c", "mult/range_str4inbuf.c", "-I." ]}, 
{ "directory": "@", "file": "mult/range_strinbuf.c", "output": "range_strinbuf.o", "arguments": [ "clang", "-c", "mult/range_strinbuf.c", "-I." ]}, 
{ "directory": "@", "file": "mult/umult16.c", "output": "umult16.o", "arguments": [ "clang", "-c", "mult/umult16.c", "-I." ]}, 
{ "directory": "@", "file": "mult/umult32.c", "output": "umult32.o", "arguments": [ "clang", "-c", "mult/umult32.c", "-I." ]}, 
{ "directory": "@", "file": "mult/umult64.c", "output": "umult64.o", "arguments": [ "clang", "-c", "mult/umult64.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_appendfile.c", "output": "io_appendfile.o", "arguments": [ "clang", "-c", "io/io_appendfile.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_block.c", "output": "io_block.o", "arguments": [ "clang", "-c", "io/io_block.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_canread.c", "output": "io_canread.o", "arguments": [ "clang", "-c", "io/io_canread.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_canwrite.c", "output": "io_canwrite.o", "arguments": [ "clang", "-c", "io/io_canwrite.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_check.c", "output": "io_check.o", "arguments": [ "clang", "-c", "io/io_check.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_close.c", "output": "io_close.o", "arguments": [ "clang", "-c", "io/io_close.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_closeonexec.c", "output": "io_closeonexec.o", "arguments": [ "clang", "-c", "io/io_closeonexec.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_createfile.c", "output": "io_createfile.o", "arguments": [ "clang", "-c", "io/io_createfile.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_debugstring.c", "output": "io_debugstring.o", "arguments": [ "clang", "-c", "io/io_debugstring.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_dontwantread.c", "output": "io_dontwantread.o", "arguments": [ "clang", "-c", "io/io_dontwantread.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_dontwantwrite.c", "output": "io_dontwantwrite.o", "arguments": [ "clang", "-c", "io/io_dontwantwrite.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_eagain.c", "output": "io_eagain.o", "arguments": [ "clang", "-c", "io/io_eagain.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_eagain_read.c", "output": "io_eagain_read.o", "arguments": [ "clang", "-c", "io/io_eagain_read.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_eagain_write.c", "output": "io_eagain_write.o", "arguments": [ "clang", "-c", "io/io_eagain_write.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_fd.c", "output": "io_fd.o", "arguments": [ "clang", "-c", "io/io_fd.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_finishandshutdown.c", "output": "io_finishandshutdown.o", "arguments": [ "clang", "-c", "io/io_finishandshutdown.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_getcookie.c", "output": "io_getcookie.o", "arguments": [ "clang", "-c", "io/io_getcookie.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_mmapwritefile.c", "output": "io_mmapwritefile.o", "arguments": [ "clang", "-c", "io/io_mmapwritefile.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_nonblock.c", "output": "io_nonblock.o", "arguments": [ "clang", "-c", "io/io_nonblock.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_passfd.c", "output": "io_passfd.o", "arguments": [ "clang", "-c", "io/io_passfd.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_pipe.c", "output": "io_pipe.o", "arguments": [ "clang", "-c", "io/io_pipe.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_readfile.c", "output": "io_readfile.o", "arguments": [ "clang", "-c", "io/io_readfile.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_readwritefile.c", "output": "io_readwritefile.o", "arguments": [ "clang", "-c", "io/io_readwritefile.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_receivefd.c", "output": "io_receivefd.o", "arguments": [ "clang", "-c", "io/io_receivefd.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_sendfile.c", "output": "io_sendfile.o", "arguments": [ "clang", "-c", "io/io_sendfile.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_setcookie.c", "output": "io_setcookie.o", "arguments": [ "clang", "-c", "io/io_setcookie.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_sigpipe.c", "output": "io_sigpipe.o", "arguments": [ "clang", "-c", "io/io_sigpipe.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_socketpair.c", "output": "io_socketpair.o", "arguments": [ "clang", "-c", "io/io_socketpair.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_timedout.c", "output": "io_timedout.o", "arguments": [ "clang", "-c", "io/io_timedout.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_timeout.c", "output": "io_timeout.o", "arguments": [ "clang", "-c", "io/io_timeout.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_timeouted.c", "output": "io_timeouted.o", "arguments": [ "clang", "-c", "io/io_timeouted.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_tryread.c", "output": "io_tryread.o", "arguments": [ "clang", "-c", "io/io_tryread.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_tryreadtimeout.c", "output": "io_tryreadtimeout.o", "arguments": [ "clang", "-c", "io/io_tryreadtimeout.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_trywrite.c", "output": "io_trywrite.o", "arguments": [ "clang", "-c", "io/io_trywrite.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_trywritetimeout.c", "output": "io_trywritetimeout.o", "arguments": [ "clang", "-c", "io/io_trywritetimeout.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_wait.c", "output": "io_wait.o", "arguments": [ "clang", "-c", "io/io_wait.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_waitread.c", "output": "io_waitread.o", "arguments": [ "clang", "-c", "io/io_waitread.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_waituntil.c", "output": "io_waituntil.o", "arguments": [ "clang", "-c", "io/io_waituntil.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_waituntil2.c", "output": "io_waituntil2.o", "arguments": [ "clang", "-c", "io/io_waituntil2.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_waitwrite.c", "output": "io_waitwrite.o", "arguments": [ "clang", "-c", "io/io_waitwrite.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_wantread.c", "output": "io_wantread.o", "arguments": [ "clang", "-c", "io/io_wantread.c", "-I." ]}, 
{ "directory": "@", "file": "io/io_wantwrite.c", "output": "io_wantwrite.o", "arguments": [ "clang", "-c", "io/io_wantwrite.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_addbuf.c", "output": "iob_addbuf.o", "arguments": [ "clang", "-c", "io/iob_addbuf.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_addbuf_free.c", "output": "iob_addbuf_free.o", "arguments": [ "clang", "-c", "io/iob_addbuf_free.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_addbuf_internal.c", "output": "iob_addbuf_internal.o", "arguments": [ "clang", "-c", "io/iob_addbuf_internal.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_addbuf_munmap.c", "output": "iob_addbuf_munmap.o", "arguments": [ "clang", "-c", "io/iob_addbuf_munmap.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_addfile.c", "output": "iob_addfile.o", "arguments": [ "clang", "-c", "io/iob_addfile.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_addfile_close.c", "output": "iob_addfile_close.o", "arguments": [ "clang", "-c", "io/iob_addfile_close.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_adds.c", "output": "iob_adds.o", "arguments": [ "clang", "-c", "io/iob_adds.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_adds_free.c", "output": "iob_adds_free.o", "arguments": [ "clang", "-c", "io/iob_adds_free.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_bytesleft.c", "output": "iob_bytesleft.o", "arguments": [ "clang", "-c", "io/iob_bytesleft.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_free.c", "output": "iob_free.o", "arguments": [ "clang", "-c", "io/iob_free.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_init.c", "output": "iob_init.o", "arguments": [ "clang", "-c", "io/iob_init.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_init_autofree.c", "output": "iob_init_autofree.o", "arguments": [ "clang", "-c", "io/iob_init_autofree.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_new.c", "output": "iob_new.o", "arguments": [ "clang", "-c", "io/iob_new.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_new_autofree.c", "output": "iob_new_autofree.o", "arguments": [ "clang", "-c", "io/iob_new_autofree.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_prefetch.c", "output": "iob_prefetch.o", "arguments": [ "clang", "-c", "io/iob_prefetch.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_reset.c", "output": "iob_reset.o", "arguments": [ "clang", "-c", "io/iob_reset.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_send.c", "output": "iob_send.o", "arguments": [ "clang", "-c", "io/iob_send.c", "-I." ]}, 
{ "directory": "@", "file": "io/iob_write.c", "output": "iob_write.o", "arguments": [ "clang", "-c", "io/iob_write.c", "-I." ]}, 
{ "directory": "@", "file": "io/iom_abort.c", "output": "iom_abort.o", "arguments": [ "clang", "-c", "io/iom_abort.c", "-I." ]}, 
{ "directory": "@", "file": "io/iom_add.c", "output": "iom_add.o", "arguments": [ "clang", "-c", "io/iom_add.c", "-I." ]}, 
{ "directory": "@", "file": "io/iom_init.c", "output": "iom_init.o", "arguments": [ "clang", "-c", "io/iom_init.c", "-I." ]}, 
{ "directory": "@", "file": "io/iom_requeue.c", "output": "iom_requeue.o", "arguments": [ "clang", "-c", "io/iom_requeue.c", "-I." ]}, 
{ "directory": "@", "file": "io/iom_wait.c", "output": "iom_wait.o", "arguments": [ "clang", "-c", "io/iom_wait.c", "-I." ]}, 
{ "directory": "@", "file": "cdb/cdb.c", "output": "cdb.o", "arguments": [ "clang", "-c", "cdb/cdb.c", "-I." ]}, 
{ "directory": "@", "file": "cdb/cdb_hash.c", "output": "cdb_hash.o", "arguments": [ "clang", "-c", "cdb/cdb_hash.c", "-I." ]}, 
{ "directory": "@", "file": "cdb/cdb_make.c", "output": "cdb_make.o", "arguments": [ "clang", "-c", "cdb/cdb_make.c", "-I." ]}, 
{ "directory": "@", "file": "cdb/cdb_traverse.c", "output": "cdb_traverse.o", "arguments": [ "clang", "-c", "cdb/cdb_traverse.c", "-I." ]}, 
{ "directory": "@", "file": "critbit/critbit.c", "output": "critbit.o", "arguments": [ "clang", "-c", "critbit/critbit.c", "-I." ]} 
]
